*
!.github
!.github/**
!.envrc
!.gitignore
!LICENSE
!flake.nix
!flake.lock
!*.md
!Cargo.toml
!Cargo.lock
!examples
!examples/**
!src
!src/**
!java
!java/**
java/target/
java/**/.DS_Store
**/.DS_Store
