*
!.github
!.github/**
!.envrc
!.gitignore
!LICENSE
!flake.nix
!flake.lock
!*.md
!pom.xml
!mvnw
!mvnw.cmd
!.mvn
!.mvn/**
.mvn/wrapper/maven-wrapper.jar
!scripts
!scripts/**
!src
!src/**

**/.DS_Store
src/main/java/org/qed/Backends/Datafusion/target/
